/*---------------------------------------- Manipulação de estilo no cabeçalho ----------------------------------------*/

header.gi-header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
    flex: 1 1 99vw;
    background: #050a30;
}

.gi-imglogo {
    height: 100%;
    padding: 15px 0 10px 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #050a30;
    color: white;
    flex: 1 1 100vw;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 14pt;
    margin: 3%;
    padding: 15px;
    border-radius: 10px;
}

nav a:hover {
    background-color: #655aff;
    transform: scale(1.3);
}


#OpenMenu, #CloseMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0 5px 0 5px;
    cursor: pointer;
    display: none;
}


/*---------------------------------------- Fim do estilo cabeçalho ---------------------------------------- */