span {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    width: calc(100% - 200px);
    height: auto;
    background-image: url(../imagens/Elementos_Gráficos/Hub/Dashboard/Header_dashboard.png);
    background-repeat: no-repeat;
}

main .main-content {
    padding: 20px;
    width: 100%;
    height:100%;
}

main .header-login {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;
}

main .header-login a {
    text-decoration: none;
    color: black;
}

main .main-content .title-main > h3 {
    color: #0c76bc;
}

main .main-content .performace-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}



main .main-content .performace-main .nunbers_monther {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    width: 16%;
    height: 110px;
    border-radius: 20px;
    background-color: #050A30;
    -webkit-box-shadow: 2px 7px 11px 4px rgba(0,0,0,0.23);
    -moz-box-shadow: 2px 7px 11px 4px rgba(0,0,0,0.23);
    box-shadow: 2px 7px 11px 4px rgba(0,0,0,0.23);
}

main .main-content .performace-main .nunbers_monther {
    color: white;
    font-size: 20px;
}

main .main-content .performace-main .nunbers_monther svg {
    margin: 5px;
}

main .main-content .grafico-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
   margin-top: 20px;

}

main .main-content .grafico-row .grafico-vendas {
    padding: 5px;
    width: 33%;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    -webkit-box-shadow: 2px 7px 11px 4px rgba(0,0,0,0.23);
    -moz-box-shadow: 2px 7px 11px 4px rgba(0,0,0,0.23);
    box-shadow: 2px 7px 11px 4px rgba(0,0,0,0.23);
}

main .main-content .grafico-row .grafico-produtos {
    padding: 5px;
    margin-left: 1%;
    width: 33%;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    -webkit-box-shadow: 2px 7px 11px 4px rgba(0,0,0,0.23);
    -moz-box-shadow: 2px 7px 11px 4px rgba(0,0,0,0.23);
    box-shadow: 2px 7px 11px 4px rgba(0,0,0,0.23);
}

main .main-content .grafico-row .grafico-produtosmaisvendidos {
    padding: 5px;
    margin-left: 1%;
    width: 33%;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    -webkit-box-shadow: 2px 7px 11px 4px rgba(0,0,0,0.23);
    -moz-box-shadow: 2px 7px 11px 4px rgba(0,0,0,0.23);
    box-shadow: 2px 7px 11px 4px rgba(0,0,0,0.23);
}

