.flex-dashborad {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
}

sidebar {
  height: auto;
  width: 250px;
  border-radius: 0px 41px 0px 0px;
  background-color: #050A30;
}

sidebar .sidebar-img {
    text-align: center;
}

sidebar .sidebar-img img {
  margin: 5px;
  width: 200px;
}

sidebar .sidebar-menu {
  border: 0px solid rgba(0, 0, 0, 0.0625);
  margin-top: 10px;
}

sidebar .sidebar-menu ul {
  list-style-type: none;
  padding-top: 5px;
  padding-left: 0 !important;
}

.menulateral {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

sidebar .sidebar-menu ul > li {
  padding: 15px 5px;
  width: 100%;
  border-radius: 0px 15px 15px 0px;
}

sidebar .sidebar-menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

sidebar .sidebar-menu ul > li:hover {
    background-color: #3A99D9;
}

sidebar .sidebar-menu ul li svg {
  padding-right: 10px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

sidebar .sidebar-menu ul > .vendas > .subvendas {
  margin-left: 30px;
  margin-bottom: -15px;
  display: none;
  transition: 0, 15s;
}

sidebar .sidebar-menu ul .subvendas a {
  font-size: 13px;
  margin-left: -5px;
}

sidebar .sidebar-menu ul > .catalogo > .subcatalogo {
  margin-left: 30px;
  margin-bottom: -15px;
  display: none;
  transition: all 4s;
}

sidebar .sidebar-menu ul .subcatalogo a {
  font-size: 13px;
  margin-left: -5px;
}

sidebar .sidebar-menu ul > .relatorios > .subrelatorios {
  margin-left: 30px;
  margin-bottom: -15px;
  display: none;
  transition: 0, 15s;
}

sidebar .sidebar-menu ul .subrelatorios a {
  font-size: 13px;
  margin-left: -5px;
}

sidebar .sidebar-menu ul > .config > .subconfig {
  margin-left: 30px;
  margin-bottom: -15px;
  display: none;
  transition: 0, 15s;
}

sidebar .sidebar-menu ul .subconfig a {
  font-size: 13px;
  margin-left: -5px;
}

sidebar .sidebar-menu ul > .monitoramento > .submonitoramento {
  margin-left: 30px;
  margin-bottom: -15px;
  display: none;
  transition: 0, 15s;
}

sidebar .sidebar-menu ul .submonitoramento a {
  font-size: 13px;
  margin-left: -5px;
}
