main .main-content-Catalogo {
    background-color: #ffff !important;
    height: calc(100%-50px);
    width: 100%;
}

main .main-content-Catalogo .title-main > h3 {
    color: #0c76bc;
    padding: 5px;
}

main .main-content-Catalogo .crudcatalogo {
    display: block;
    padding: 5px;
    /*border: 1px solid #e0e0e0;*/
    align-items: center;
}

main .main-content-Catalogo .crudcatalogo .btncatalogo {
    border-radius: 5px;
    border: none;
    margin-left: 8px;
    font-size: 12px;
    color: #0c76bc;
    background-color: #fff;
}

main .main-content-Catalogo .crudcatalogo .btncatalogo:hover {
    background-color: aliceblue;
}

main .main-content-Catalogo .crudcatalogo .d-flex {
    width: 400px;
    height: 20px;
    float: right;
    align-items: center;

}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav .pagination {
    margin-left: auto;
    margin-right: auto;
}