header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background-color:white;
    padding: 10px 10px;
    width: 100%;
}

header .header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    height: 50px;
}

header .header-title h2 {
    font-size: 20px;
    padding: 0 0 0 10px;
    margin-top: 13px;
}

header .header-title img {
    height: 50px;
    width: 50px;
}

header .header-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    background-color: white;
    width: calc(100% - 200px);
}

header .header-login a {
    text-decoration: none;
    color: #72777a;
}

header .header-login a > svg {
    color: #6e8efb;
}

header .header-login a:hover {
    color:#4D4D4D;
}