<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/hub/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <title>Arfax-Hub</title>
</head>
<body>
    <header>
        <div class="header-title">
            <img src="../imagens/Login.png" alt="">
            <h2>Arfaz-Hub</h2>
        </div>
        <div class="header-login">
            <a href="dashboard.html"><i class="fa-solid fa-house"></i> Dashboard</a>
            <a href="../index.html"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
        </div>
    </header>
    
    <div class="flex-dashborad">
        <sidebar>
            <div class="sidebar-menu">
                <ul>
                    <li>
                        <i class="fa-solid fa-house"></i>
                        <a href="dashboard.html"></i>Dashboard</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-cart-shopping"></i>
                        <a href="vendas.html">Vendas</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-tablet-button"></i>
                        <a href="catalogo.html">Catalogo</a>
                    </li>
                    <li>
                        <i class="fa-brands fa-slack"></i>
                        <a href="integracoes.html">Integrações</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-chart-simple"></i>
                        <a href="insights.html">Insights</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-layer-group"></i>
                        <a href="relatorios.html">Relatórios</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-gear"></i>
                        <a href="configuracoes.html">Configurações</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-eye"></i>
                        <a href="monitoramento.html">Monitoramento</a>
                    </li>
                </ul>
            </div>
            <div class="banner-propaganda">
                <img src="../imagens/Banner Propaganda.jpg" alt="">
            </div>
        </sidebar>
        
        <main>
            <div class="main-content">
                <div class="title-main">
                    <h3>Configurações</h3>
                </div>
            </div>
        </main>
    </div>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
</body>
</html>