<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/hub_all.css">
    <link rel="shortcut icon" href="./imagens/Logos_Goless/GoLess ICON.png" />
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <title>Dashboard-GoLess</title>
</head>

<body>
    <div class="flex-dashborad">
        <sidebar>

            <div class="sidebar-img">
                <img src="../imagens/Logos_Goless/GoLess HORIZONTAL.png" alt="">
            </div>

            <div class="sidebar-menu">

                <ul>
                    <li>
                        <i class="fa-solid fa-chart-pie"></i>
                        <a href="dashboard.html"></i>Dashboard</a>
                    </li>
                    <li class="vendas">
                        <div class="menulateral">
                            <div>
                                <i class="fa-solid fa-cart-shopping"></i>
                                <a href="#">Vendas</a>
                            </div>
                            <div>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                        <ul class="subvendas">
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="vendas.html">Pedidos</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="#">Expedição</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="#">Envios</a>
                            </li>
                        </ul>
                    </li>
                    <li class="catalogo">
                        <div class="menulateral">
                            <div>
                                <i class="fa-solid fa-file-circle-plus"></i>
                                <a href="#">Catalogo</a>
                            </div>
                            <div>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                        <ul class="subcatalogo">
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="catalogo.html">Produtos</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="#">Anúncios ML</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="#">Anúncios Skyhub</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="#">Atributos</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <i class="fa-brands fa-slack"></i>
                        <a href="integracoes.html">Integrações</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-chart-simple"></i>
                        <a href="insights.html">Insights</a>
                    </li>
                    <li class="relatorios">
                        <div class="menulateral">
                            <div>
                                <i class="fa-solid fa-layer-group"></i>
                                <a href="#">Relatórios</a>
                            </div>
                            <div>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                        <ul class="subrelatorios">
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="relatorios.html">Lucratividade</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="#">Notas Fiscais</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="#">Anúncios</a>
                            </li>
                        </ul>
                    </li>
                    <li class="config">
                        <div class="menulateral">
                            <div>
                                <i class="fa-solid fa-gear"></i>
                                <a href="#">Configurações</a>
                            </div>
                            <div>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                        <ul class="subconfig">
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="configuracoes.html">Geral</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="#">Usuarios</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="#">Lojas</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="#">Nota Fiscal</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="#">Transportadora</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="#">Templetes</a>
                            </li>
                        </ul>
                    </li>
                    <li class="monitoramento">
                        <div class="menulateral">
                            <div>
                                <i class="fa-solid fa-eye"></i>
                                <a href="#">Monitoramento</a>
                            </div>
                            <div>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                        <ul class="submonitoramento">
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="monitoramento.html">Carga</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="#">Log</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="#">Problemas Criticos</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </sidebar>

        <main>
            <div class="main-content">
                <div class="header-login">
                    <a href="dashboard.html"><i class="fa-solid fa-house"></i> Dashboard</a>
                    <a href="./login.html"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                </div>
                <!--<div class="title-main">
                    <h3>Ultimos 30 Dias</h3>
                </div> -->
                <div class="performace-main">
                    <div class="nunbers_monther">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>2370</span>
                        <span>Vendas</span>
                    </div>
                    <div class="nunbers_monther">
                        <i class="fa-solid fa-bullseye"></i>
                        <span>R$ 150.203,98</span>
                        <span>Total Vendido</span>
                    </div>
                    <div class="nunbers_monther">
                        <i class="fa-solid fa-chart-simple"></i>
                        <span>R$ 64,23</span>
                        <span>Ticket Médio</span>
                    </div>
                    <div class="nunbers_monther">
                        <i class="fa-solid fa-users"></i>
                        <span>54</span>
                        <span>Pedidos Hoje</span>
                    </div>
                    <div class="nunbers_monther">
                        <i class="fa-solid fa-sack-dollar"></i>
                        <span>R$ 3.486,42</span>
                        <span>Vendido Hoje</span>
                    </div>
                    <div class="nunbers_monther">
                        <i class="fa-solid fa-puzzle-piece"></i>
                        <span>111</span>
                        <span>Problemas</span>
                    </div>
                </div>
                <div class="grafico-row">
                    <div class="grafico-vendas">
                        <div>
                            <canvas id="myChart"></canvas>
                        </div>

                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                        <script>
                            const ctx = document.getElementById('myChart');

                            new Chart(ctx, {
                                type: 'doughnut',
                                data: {
                                    labels: ['Magalu', 'B2W', 'ML', 'ML', 'Via Varejo', 'Shopee'],
                                    datasets: [{
                                        label: '# Vendas',
                                        data: [20, 25, 10, 5, 8, 3],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: false
                                        }
                                    }
                                }
                            });
                        </script>
                    </div>
                    <div class="grafico-produtos">

                    </div>
                    <div class="grafico-produtosmaisvendidos">
                        <p>teste</p>
                    </div>
                </div>
                <div class="grafico-row">
                    <div class="grafico-vendas">
                        <p>teste</p>
                    </div>
                    <div class="grafico-produtos">
                        <p>teste</p>
                    </div>
                    <div class="grafico-produtosmaisvendidos">
                        <p>teste</p>
                    </div>
                </div>
        </main>
    </div>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
</body>

</html>